/.env
/.env.backup
/.env.production
/vendor/
/node_modules/
/public/hot
/public/storage
public/webcron.php

/storage/*.key
/storage/app/*
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/installed
!/storage/app/.gitignore
!/storage/framework/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

npm-debug.log
yarn-error.log
tmp_*.php
/.idea
/.vscode
